.header-search {
	display: none;
}

.header-search-dropdown {
	.header-search {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		padding: 60px 0;
		transition: $transition-base;
		background: var( --bs-white );
		border-bottom-right-radius: var( --bs-border-radius );
		border-bottom-left-radius: var( --bs-border-radius );
	}

	&.search-open {
		.header-search {
			display: block;
			top: 100%;
		}
	}
}
