/**
* Fonts
*/
$font-family-base: system-ui, -apple-system, "Segoe UI", Roboto,
	"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
	"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$paragraph-margin-bottom: 1rem;

// display-headings
$display-font-sizes: (
	1: 5rem,
	2: 4.5rem,
	3: 4rem,
	4: 3.5rem,
	5: 3rem,
	6: 2.5rem,
);

:root {
	--bs-primary: $dark;
	--bs-secondary: $gray-600;
	--bs-tertiary: $teal;
	--bs-success: $green;
	--bs-info: $cyan;
	--bs-warning: $yellow;
	--bs-danger: $red;
	--bs-light: $gray-100;
	--bs-dark: $dark;
	--gf-form-gap-y: 20px;
}
