/************
 *
 * Blog Styles
 *
 ***********/

@import "@/importer";

.blog {
	&--feed {
		.card {
			flex: 1 1 100%;
			padding: 0;

			@include media-breakpoint-up(md) {
				align-items: center;
				box-shadow: none;
				flex-basis: calc(100% - $grid-gutter-width);
				flex-direction: row;
				flex-grow: 1;
				width: 100%;
			}

			&-body {
				@include media-breakpoint-up(md) {
					flex: 1;
					padding-bottom: 0;
					padding-top: 0;
				}
				@include media-breakpoint-up(lg) {
					padding-left: 3rem;
				}
				@include media-breakpoint-up(xl) {
					padding-left: 5rem;
					padding-right: 3rem;
				}
			}

			&-subtitle {
				@include media-breakpoint-up(lg) {
					font-size: $h6-font-size;
				}
			}

			&-title {
				@include media-breakpoint-up(lg) {
					font-size: $h3-font-size;
				}
			}

			&-img-wrapper {
				transform: translateZ(0);
				@include media-breakpoint-up(md) {
					border-radius: var(--bs-border-radius-lg);
					flex: 0 1 44%;
					width: 44%;
				}
			}
		}

		&[data-bs-theme="dark"] {
			.card-body {
				background-color: transparent;
				color: var(--bs-light);
			}

			.card-subtitle {
				color: inherit;
			}
		}
	}

	&--carousel {
		.card {
			&-img-wrapper {
				min-height: 280px;
			}

			&-body {
				padding: rem(20) rem(25) rem(30);
			}
		}
		.swiper {
			.swiper-wrapper {
				@include media-breakpoint-down(sm) {
					padding-bottom: 2.5rem !important;
				}
			}
		}
	}
}
