.editor-styles-wrapper {
	.wp-block {
		max-width: 100%;
	}

	[data-aos] {
		opacity: 1;
	}
}

#wp-link-wrap {
	#link-options,
	#search-panel {
		margin: 0;
		padding: 0;

		label {
			display: block;

			input[type="text"],
			input[type="search"] {
				display: inline-block;
			}
		}
	}

	input[type="submit"] {
		color: black;
	}

	#wp-link {
		.query-results {
			top: 240px;
		}
	}
}

.editor-visual-editor {
	padding: 0 rem(30);
	background-color: white;
}

.post-type-post {
	.editor-visual-editor {
		max-width: rem(1000);
		margin: 0 auto;
	}
}
