/******************
 *
 * Typography
 *
 ******************/

// Responsive Heading Typography

:root {
	--bs-heading-color: var(--bs-primary);
	--gf-form-gap-y: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--bs-font-primary) !important;
	--bs-heading-color: var(--bs-primary);
}

[data-bs-theme="dark"] {
	--bs-heading-color: var(--bs-white);
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		--bs-heading-color: var(--bs-white);
	}
}

h1,
.h1 {
	font-size: clamp(
		var(--bs-font-size-h1-mobile),
		3vw,
		var(--bs-font-size-h1)
	) !important;
	font-weight: var(--bs-font-weight-h1);
	margin-top: var(--bs-margin-top-h1);
	margin-bottom: var(--bs-margin-bottom-h1);

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h1) !important;
	}
}

.h1,
.h1 * {
	font-size: clamp(
		var(--bs-font-size-h1-mobile),
		3vw,
		var(--bs-font-size-h1)
	) !important;

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h1) !important;
	}
}

h2,
.h2 {
	font-size: clamp(
		var(--bs-font-size-h2-mobile),
		2.85vw,
		var(--bs-font-size-h2)
	) !important;
	font-weight: var(--bs-font-weight-h2);
	margin-top: var(--bs-margin-top-h2);
	margin-bottom: var(--bs-margin-bottom-h2);

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h2) !important;
	}
}

.h2,
.h2 * {
	font-size: clamp(
		var(--bs-font-size-h2-mobile),
		2.85vw,
		var(--bs-font-size-h2)
	) !important;

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h2) !important;
	}
}

h3,
.h3 {
	font-size: clamp(
		var(--bs-font-size-h3-mobile),
		1.5vw,
		var(--bs-font-size-h3)
	) !important;
	font-weight: var(--bs-font-weight-h3);
	margin-top: var(--bs-margin-top-h3);
	margin-bottom: var(--bs-margin-bottom-h3);

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h3) !important;
	}
}

.h3,
.h3 * {
	font-size: clamp(
		var(--bs-font-size-h3-mobile),
		1.5vw,
		var(--bs-font-size-h3)
	) !important;

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h3) !important;
	}
}

h4,
.h4 {
	font-size: clamp(
		var(--bs-font-size-h4-mobile),
		1.25vw,
		var(--bs-font-size-h4)
	) !important;
	font-weight: var(--bs-font-weight-h4);
	margin-top: var(--bs-margin-top-h4);
	margin-bottom: var(--bs-margin-bottom-h4);

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h4) !important;
	}
}

.h4,
.h4 * {
	font-size: clamp(
		var(--bs-font-size-h4-mobile),
		1.25vw,
		var(--bs-font-size-h4)
	) !important;

	@include media-breakpoint-up(xxl) {
		font-size: var(--bs-font-size-h4) !important;
	}
}

h5,
.h5 {
	font-size: var(--bs-font-size-h5-mobile) !important;
	font-weight: var(--bs-font-weight-h5);
	margin-top: var(--bs-margin-top-h5);
	margin-bottom: var(--bs-margin-bottom-h5);

	@include media-breakpoint-up(xl) {
		font-size: var(--bs-font-size-h5) !important;
	}
}

.h5,
.h5 * {
	font-size: var(--bs-font-size-h5-mobile) !important;

	@include media-breakpoint-up(xl) {
		font-size: var(--bs-font-size-h5) !important;
	}
}

h6,
.h6 {
	font-size: var(--bs-font-size-h6-mobile) !important;

	@include media-breakpoint-up(xl) {
		font-size: var(--bs-font-size-h6) !important;
	}
}

.lead,
.lead * {
	&:not(h1, h2, h3, h4, h5, h6) {
		font-size: clamp(
			var(--bs-font-size-lg),
			1.25vw,
			var(--bs-font-size-lg)
		) !important;
	}
}

.small,
.small *,
small,
small * {
	font-size: var(--bs-font-size-sm) !important;
}

p {
	font-size: var(--bs-font-size-base);
	font-weight: var(--bs-font-weight-base);
	margin-top: var(--bs-margin-top-base);
	margin-bottom: var(--bs-margin-bottom-base);
	line-height: 166%;
	font-family: var(--bs-font-secondary);
}

.font-primary {
	font-family: var(--bs-font-primary) !important;
}

a {
	text-decoration: none;
}

.preheader {
	font-size: var(--bs-font-size-base) !important;
	font-weight: var(--bs-font-weight-h6) !important;
	text-transform: uppercase !important;
	font-family: var(--bs-font-primary);
	display: inline-block;
	color: var(--bs-primary);
}

[data-bs-theme="dark"] {
	.preheader {
		color: var(--bs-white);
	}
}

table,
.table {
	thead {
		th {
			background-color: var(--bs-gray);
			border-bottom: none;
			border-top: none;
		}
	}

	tbody {
		tr:first-child td {
			border-top: none;
		}

		tr:last-child td {
			border-bottom: var(--bs-border-width) solid var(--bs-border-color);
		}
	}

	caption {
		font-size: $font-size-sm;
	}
}

html:not(.wp-toolbar),
body:not(.wp-admin) {
	ul:not(.dropdown-menu) {
		list-style-type: none;
		list-style-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE2cHgiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIHZpZXdCb3g9IjAgMCAxNTYzIDE1NjMiIHdpZHRoPSIxNnB4IgoJeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxnIHRyYW5zZm9ybT0ibWF0cml4KC4xIDAgMCAtLjEgMCAxNTYzKSI+CgkJPHBhdGggZmlsbD0iIzI0NGRmZSIKCQkJZD0ibTMwODAgMTQxMDljLTI0MC0yNy00ODEtMTEwLTY5NS0yMzdzLTQzNi0zNTEtNTY5LTU2OWMtMTc0LTI4OS0yNTQtNTk0LTI0NC05MzMgMTQtNDQwIDE4MS04MzUgNDg2LTExNDMgMjMyLTIzNiA1NDYtNDA3IDg2NS00NzEgMjAxLTQxIDQ4NC00MSA2ODMgMCA2NjUgMTM2IDExODEgNjUwIDEzMjQgMTMxOSAxNiA3MyAyMyAxNTAgMjcgMjg1IDggMjYzLTEzIDQwMy05NCA2MzUtMjU3IDczMC0xMDExIDEyMDEtMTc4MyAxMTE0eiIgLz4KCQk8cGF0aCBmaWxsPSIjMjQ0ZGZlIgoJCQlkPSJtMTIyNTAgMTQwNDRjLTI3MS0zNC01MTUtMTI0LTc0NS0yNzUtMTA2LTY5LTE3NC0xMzYtMTg1Ny0xODE3LTk2MS05NjEtMTc0OS0xNzQ0LTE3NTItMTc0Mi0zIDMtMjAwIDE5OS00MzggNDM2LTI1NSAyNTMtNDY3IDQ1Ni01MTYgNDkyLTQ0NiAzMzItMTAwMiA0MzMtMTUyMiAyNzgtNjMtMTktMTMzLTQyLTE1NS01MS0yNTYtMTA4LTM5OC0yMDctNjA1LTQyMS0xMjgtMTMzLTE5My0yMjEtMjc0LTM3NS02Ni0xMjUtODktMTgzLTEyNy0zMTItNTItMTc5LTYzLTI2NC02NC00ODcgMC0xNzggMy0yMjAgMjQtMzIwIDQyLTIwNiAxMTktNDA5IDIwNC01NDMgMjEtMzIgMzctNjAgMzctNjNzMjktNDUgNjUtOTJjNDAtNTMgMjM4LTI2MCA1MDgtNTI5bDQ0Mi00NDMtMTc1Ni0xNzU3Yy05NjYtOTY3LTE3NzYtMTc4NS0xODAxLTE4MTgtMTA5LTE0NC0xOTYtMzEwLTI1MS00NzYtMjI0LTY3MSA0LTEzOTggNTcyLTE4MjcgMzkzLTI5NiA5MTgtMzk2IDE0MDAtMjY2IDIzOSA2NCA0NDEgMTcyIDYzOSAzMzkgNDggNDAgODYzIDg1MCAxODEyIDE3OTlzMTcyOCAxNzI1IDE3MzIgMTcyNGM0LTIgODEwLTgwNSAxNzkwLTE3ODQgMTcxNi0xNzE0IDE3ODctMTc4NCAxODkzLTE4NTQgMjc0LTE4MCA1MzgtMjY1IDg2MC0yNzcgMzU2LTEzIDY2MiA3NCA5NzAgMjc1IDE0MCA5MSAzNDcgMjk5IDQ0MSA0NDIgMTg1IDI4MiAyNzQgNTc0IDI3NCA5MDMgMCAyOTktNjAgNTM3LTE5OCA3OTItMTE3IDIxNS05MSAxODgtMTk2NCAyMDYybC0xNzU4IDE3NTggMTc1MyAxNzU1Yzk2NCA5NjUgMTc4MCAxNzg5IDE4MTMgMTgzMCAxODQgMjMxIDI5NyA0OTEgMzQwIDc4MyAyMiAxNTAgMTUgNDMyLTE0IDU2Mi03NiAzNDAtMjEwIDU4NS00NTEgODI2LTI0NSAyNDQtNTA1IDM4My04MzcgNDQ5LTEwNiAyMS0zOTIgMzUtNDg0IDI0eiIgLz4KCTwvZz4KPC9zdmc+");
		margin: 0;
		padding-left: 1.85rem;
		li {
			line-height: 1.44;
			padding: 5px 0 5px 8px;
		}
	}
}

ol.list-styled,
ul.list-styled {
	padding-left: calc(1.25 * $spacer);

	ul,
	ol {
		list-style-type: none !important;
		margin-top: calc(0.5 * $spacer);
		padding-left: calc(2.25 * $spacer);
	}

	li {
		margin-bottom: calc(0.5 * $spacer);
	}
}

blockquote {
	border-left: 3px solid var(--bs-primary);
	padding-left: calc(1.5 * $spacer);
}

.container {
	[class$="__content"] {
		max-width: $content_max_width;
		z-index: 1;
	}
}

[class*="icon-"] {
	//background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.icon-job-location {
	background-image: url("../../assets/img/location.svg");
}
.icon-job-salary {
	background-image: url("../../assets/img/salary.svg");
}
.icon-job-industry {
	background-image: url("../../assets/img/industry.svg");
}
.icon-job-type {
	background-image: url("../../assets/img/type.svg");
}
