video {
	max-width: 100%;
}

[class*="__video"] {
	z-index: 1;
	position: relative;

	.fa-play,
	.fa-pause {
		background: var(--bs-tertiary);
		color: var(--bs-primary);
		padding: 20px 28px;
		font-size: 2rem;
		transition: $transition-base;
		max-width: rem(72);
		max-height: rem(72);
		@include notch(8px);
	}

	&:hover {
		.fa-play,
		.fa-pause {
			background: var(--bs-white);
			color: var(--bs-primary);
		}
	}

	.video-pause-btn {
		z-index: 3;
		position: absolute;
		height: 100%;
		width: 100%;

		.video-btn-wrap {
			position: absolute;
			bottom: 50%;
			right: 50%;
			transform: translate(50%, 50%);
			padding: 1rem;
		}

		&.re-position {
			.video-btn-wrap {
				bottom: 0;
				right: 0;
				transform: none;
				transition: none;
			}
		}
	}

	video,
	iframe {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
