// WordPress Elements
// @see https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

// Pagination
.pagination {
	justify-content: center;
}

.nav-links {
	display: flex;
	flex-wrap: wrap;
}

.page-numbers {
	background-color: var(--bs-pagination-bg);
	// border: solid var( --bs-pagination-border-width ) var( --bs-pagination-border-color );
	border-right: 1px solid var(--bs-pagination-color);
	color: var(--bs-primary);
	flex: auto;
	font-weight: $font-weight-semibold;
	padding: calc($spacer / 2) calc($spacer / 1.25);
	margin: 0 0.25rem;
	text-align: center;
	border: none;

	@include media-breakpoint-up(md) {
		line-height: 1;
	}

	&.dots:hover {
		background-color: initial;
	}

	&:hover,
	&.current,
	&[aria-current="page"] {
		// background-color: var(--bs-pagination-hover-bg);
		// border-color: var(--bs-pagination-hover-border-color);
		color: var(--bs-white) !important;
		background-color: var(--bs-primary) !important;
		@include notch(4px);
		i {
			color: var(--bs-white);
		}
	}

	&.prev,
	&.next {
		width: auto;

		@include media-breakpoint-down(md) {
			padding-left: calc(0.75 * $spacer);
			padding-right: calc(0.75 * $spacer);
		}

		@include media-breakpoint-up(md) {
			padding-left: calc(1.5 * $spacer);
			padding-right: calc(1.5 * $spacer);
		}

		span {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		i {
			color: var(--bs-primary);
		}

		&:hover,
		&:active,
		&:focus {
			i {
				color: var(--bs-white);
			}
		}
	}

	&.next {
		border-right: none;
	}
}

.wp-caption-text,
.wp-block-image figure figcaption {
	// @extend .figure-caption;
	border: 1px solid var(--bs-gray);
	background-color: var(--bs-light);
	margin: 0;
	padding: rem(10);
	text-align: center;
}

//Image Alignment
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin-right: 1rem;
}

.alignright {
	float: right;
	margin-left: 1rem;
}
