/************
 *
 * Cards Styles
 *
 ***********/

@import "@/importer";

.cards {
	&--carousel-split {
		.cards__col {
			@include media-breakpoint-up(md) {
				flex-basis: 67%;
				max-width: 67%;

				&.component__header {
					flex-basis: 33%;
					max-width: 33%;
				}
			}
			@include media-breakpoint-up(lg) {
				flex-basis: 75%;
				max-width: 75%;

				&.component__header {
					flex-basis: 25%;
					max-width: 25%;
				}
			}
		}
	}
	&--grid-dog {
		a {
			border: none !important;
			outline: 0 !important;
		}
		.card {
			position: relative;
			@include notch_tl(24px);

			&.card-icon-top {
				@include media-breakpoint-down(md) {
					.card-body {
						padding: 24px;
						i {
							font-size: 3rem;
							margin-right: 20px;
							&.fa-chevron-right {
								font-size: 2rem;
								margin-right: 0;
								right: 1.5rem;
							}
						}
					}
				}
				@include media-breakpoint-down(sm) {
					@include notch_tl(16px);
					.card-body {
						padding: 20px;
						padding-right: 50px !important;
						display: flex !important;
						align-items: center;
						flex-direction: row !important;
						.card-title {
							margin-top: 0;
						}
					}
				}
			}

			.card-body {
				&:has(.fa-chevron-right) {
					height: 100%;
					justify-content: flex-end;
					justify-content: space-between;
					display: flex;
					flex-direction: column;
				}
			}
			.card-title {
				width: 100%;
				font-size: var(--bs-font-size-h6) !important;
				padding-right: rem(30px);
				margin-bottom: 0 !important;
				margin-top: 20px;
			}
			.fa-chevron-right {
				margin-left: auto;
				margin-right: 0;
				position: absolute;
				bottom: 2rem;
				right: 2rem;
			}
		}
	}
}
