/*******
 *
 * Error 404 Template
 *
 *******/

@import '@/importer';

.error-404 {

	&__col {
		text-align: center;

		@include media-breakpoint-down(md) {
			padding: rem( 48 ) rem( 20 );
		}

		@include media-breakpoint-up(md) {
			padding: rem( 80 ) rem( 20 );
		}
	}

	h1 {
		@include media-breakpoint-down(md) {
			font-size: rem( 100 );
		}

		@include media-breakpoint-up(md) {
			font-size: rem( 200 );
		}
	}
}
