/*******
 *
 * Search Template
 *
 *******/

@import "@/importer";

.search-feed {
	&__col {
		@include media-breakpoint-up(lg) {
			flex-basis: 83.333%;
			max-width: 83.333%;
		}
	}

	&__results {
		border-bottom: 1px solid var(--bs-gray);
		padding-bottom: calc(0.5 * $spacer);
		margin: calc(1.5 * $spacer) 0;

		@include media-breakpoint-up(md) {
			padding-bottom: $spacer;
			margin: calc(2 * $spacer) 0;
		}
	}

	&__result {
		&-title {
			a {
				&:hover {
					color: var(--bs-primary) !important;
				}
			}
		}
		&:last-of-type {
			margin-bottom: calc($spacer * 2);
			hr {
				display: none;
			}
		}
	}

	&__search {
		margin-bottom: rem(16);

		@include media-breakpoint-up(md) {
			max-width: 50%;
		}
		@include media-breakpoint-up(xl) {
			max-width: 42.66%;
		}
	}

	&__pagination {
		margin-top: calc(3 * $spacer);
	}
}
