/*******
 *
 * Single Template
 *
 *******/

@import "@/importer";

.single {
	$this: &;

	.post {
		p {
			margin-bottom: calc(1.5 * $spacer);
		}

		img {
			&.alignleft,
			&.alignright {
				margin-bottom: $spacer;
			}
		}
	}

	.related-posts {
		.card {
			box-shadow: var(--bs-box-shadow-sm);
		}
		@include media-breakpoint-down(sm) {
			.swiper-container {
				padding-bottom: calc(3 * $spacer);
			}

			.swiper-slide {
				height: auto;

				.card-body {
					padding: 1.25rem;
				}
			}
		}
	}

	&--one,
	&--three {
		.related-posts {
			&__header {
				border-top: var(--bs-border-width) solid var(--bs-border-color);
			}
		}
	}

	&--two {
		.hero-single {
			.hero__pre-header {
				color: var(--bs-primary);
			}

			&__header {
				line-height: 1.1;
				@include media-breakpoint-only(md) {
					font-size: rem(50);
				}
			}

			&__image {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;

				@include media-breakpoint-down(sm) {
					background-image: none !important;
				}
				@include media-breakpoint-up(lg) {
					min-height: rem(550);
				}
				@include media-breakpoint-up(xl) {
					min-height: rem(600);
				}
			}
		}
	}

	&--three {
		.hero {
			&__pre-header {
				color: var(--bs-primary);
			}
		}

		#{$this}__post {
			margin-top: rem(-100);
			@include media-breakpoint-up(md) {
				margin-top: rem(-170);
			}
			@include media-breakpoint-up(lg) {
				margin-top: rem(-215);
			}
		}
	}

	&__post {
		.entry-content {
			@include media-breakpoint-down(sm) {
				* {
					font-size: 14px;
				}
			}
			h1,
			.h1 {
				font-size: clamp(
					var(--bs-font-size-h2-mobile),
					2vw,
					var(--bs-font-size-h2)
				) !important;
				@include media-breakpoint-up(xxl) {
					font-size: var(--bs-font-size-h2) !important;
				}
			}
			h2,
			.h2 {
				font-size: clamp(
					var(--bs-font-size-h3-mobile),
					1.5vw,
					var(--bs-font-size-h3)
				) !important;
				@include media-breakpoint-up(xxl) {
					font-size: var(--bs-font-size-h3) !important;
				}
			}
			h3,
			.h3 {
				font-size: clamp(
					var(--bs-font-size-h4-mobile),
					1.25vw,
					var(--bs-font-size-h4)
				) !important;
				@include media-breakpoint-up(xxl) {
					font-size: var(--bs-font-size-h4) !important;
				}
			}
			h4,
			.h4 {
				font-size: var(--bs-font-size-h5-mobile) !important;
				@include media-breakpoint-up(xl) {
					font-size: var(--bs-font-size-h5) !important;
				}
			}
			h5,
			.h5 {
				font-size: var(--bs-font-size-h6-mobile) !important;

				@include media-breakpoint-up(xl) {
					font-size: var(--bs-font-size-h6) !important;
				}
			}
		}
	}
}
