/************
 *
 * Slider Styles
 *
 ***********/

@import "@/importer";

.slider-text {
	&:before {
		height: 4px;
		width: 100%;
		position: absolute;
		top: 45%;
		transform: translateY(-50%);
		content: "";
		display: block;
		background-color: var(--bs-primary);

		@include media-breakpoint-down(md) {
			top: 53%;
		}
		@include media-breakpoint-down(sm) {
			top: 62%;
		}
	}

	.swiper {
		overflow: visible !important;
		.swiper-wrapper {
			@include media-breakpoint-down(sm) {
				padding-bottom: 2.8rem !important;
			}
		}
	}
	.swiper-slide {
		opacity: 1;
		position: relative;
		color: var(--bs-light);
		height: auto;

		> div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex-grow: 1;
			width: 100%;
			height: 100%;
		}

		.slide__content {
			margin: 0;
			width: 100%;
			z-index: 3;
			position: relative;
			display: flex;
			height: 100%;
			box-shadow: none !important;

			@include media-breakpoint-up(md) {
				margin: auto;
			}

			@include media-breakpoint-down(sm) {
				padding: 25px 20px 0 !important;
			}

			.preheader {
				font-size: var(--bs-font-size-h5);
				font-weight: $font-weight-bold;

				@include media-breakpoint-down(sm) {
					font-size: var(--bs-font-size-h5);
				}
			}

			.lead {
				@include media-breakpoint-down(sm) {
					* {
						font-size: 1.1rem !important;
						margin-top: 0.5rem;
					}
				}
			}
		}

		.slide__header {
			margin: 0 !important;
		}

		.slide__icon {
			height: 80px;
			margin-top: 50px;
			i {
				font-size: 72px;
				color: var(--bs-primary);
			}
		}

		.triangle {
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 60px 60px 60px;
			border-color: transparent transparent white transparent;
			transform: rotate(-45deg);
			position: relative;
			margin-top: -40px;
			margin-left: 10px;
		}
	}

	&[data-bs-theme="dark"] {
		.swiper-slide {
			&.slide__contained {
				.slide__content {
					color: var(--bs-light);
				}
			}
		}
	}
}
