/************
 *
 * Testimonials Styles
 *
 ***********/

@import "@/importer";

.testimonials {
	[data-bs-theme="dark"] {
	}

	&__content {
		clip-path: polygon(
			0 0,
			calc(100% - 16px) 0%,
			100% 16px,
			100% 100%,
			16px 100%,
			0% calc(100% - 16px)
		);

		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 15px;
			left: 15px;
			color: var(--bs-secondary);
			z-index: -1;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iNjIiIHZpZXdCb3g9IjAgMCA4MyA2MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjU0MTcgMjQuNDEwN0MxOC42MzExIDI0LjQxMDcgMTcuNzU3MiAyNC41NDk1IDE2Ljg4NzUgMjQuNjc2MUMxNy4xNjkyIDIzLjcyODggMTcuNDU5MiAyMi43NjUxIDE3LjkyNDcgMjEuODk5NUMxOC4zOTAyIDIwLjY0MTggMTkuMTE3IDE5LjU1MTUgMTkuODM5NyAxOC40NTMxQzIwLjQ0NDEgMTcuMjY0OSAyMS41MDk4IDE2LjQ2MDUgMjIuMjkzOCAxNS40NDM3QzIzLjExNDYgMTQuNDU1NSAyNC4yMzM0IDEzLjc5ODEgMjUuMTE5NSAxMi45Nzc0QzI1Ljk4OTIgMTIuMTE5OSAyNy4xMjg1IDExLjY5MTEgMjguMDM1IDExLjA4NjhDMjguOTgyMyAxMC41NDM3IDI5LjgwNzEgOS45NDM0NSAzMC42ODkxIDkuNjU3NjJMMzIuODkwMSA4Ljc1MTEyTDM0LjgyNTYgNy45NDY3TDMyLjg0NTIgMC4wMzMyMDMxTDMwLjQwNzQgMC42MjEyMDFDMjkuNjI3NSAwLjgxNzIwMSAyOC42NzYxIDEuMDQ1ODcgMjcuNTk0IDEuMzE5NDVDMjYuNDg3NCAxLjUyMzYyIDI1LjMwNzMgMi4wODMwNCAyMy45OTI1IDIuNTkzNDVDMjIuNjk0IDMuMTczMjkgMjEuMTkxMyAzLjU2NTI5IDE5Ljc5NDggNC40OTYyOUMxOC4zOTAyIDUuMzg2NDUgMTYuNzY5MSA2LjEyOTYyIDE1LjMzOTkgNy4zMjE5NUMxMy45NTU3IDguNTUxMDQgMTIuMjg1NiA5LjYxNjc5IDExLjA1MjQgMTEuMTgwN0M5LjcwNDkgMTIuNjQyNSA4LjM3MzczIDE0LjE3NzkgNy4zNDA2NSAxNS45MjU1QzYuMTQ0MjMgMTcuNTkxNSA1LjMzMTY1IDE5LjQyMDkgNC40NzQxNSAyMS4yMjk4QzMuNjk4MzIgMjMuMDM4NyAzLjA3MzU3IDI0Ljg4ODUgMi41NjMxNSAyNi42ODUxQzEuNTk1NCAzMC4yODY2IDEuMTYyNTcgMzMuNzA4NSAwLjk5NTE0OSAzNi42MzYyQzAuODU2MzE2IDM5LjU2OCAwLjkzNzk4MyA0Mi4wMDU4IDEuMTA5NDggNDMuNzY5OEMxLjE3MDczIDQ0LjYwMjggMS4yODUwNyA0NS40MTEzIDEuMzY2NzMgNDUuOTcwN0wxLjQ2ODgyIDQ2LjY1NjdMMS41NzQ5OCA0Ni42MzIyQzIuMzAxMjUgNTAuMDI0OCAzLjk3MzE0IDUzLjE0MjQgNi4zOTcyNSA1NS42MjQ0QzguODIxMzYgNTguMTA2NSAxMS44OTg2IDU5Ljg1MTYgMTUuMjczMSA2MC42NTc3QzE4LjY0NzYgNjEuNDYzOSAyMi4xODEzIDYxLjI5ODMgMjUuNDY1NiA2MC4xOEMyOC43NDk4IDU5LjA2MTcgMzEuNjUwNCA1Ny4wMzY1IDMzLjgzMTcgNTQuMzM4NkMzNi4wMTMgNTEuNjQwNyAzNy4zODYgNDguMzgwNCAzNy43OTE4IDQ0LjkzNDdDMzguMTk3NSA0MS40ODkxIDM3LjYxOTUgMzcuOTk5IDM2LjEyNDYgMzQuODY4MkMzNC42Mjk3IDMxLjczNzQgMzIuMjc4OSAyOS4wOTM3IDI5LjM0NDMgMjcuMjQzMUMyNi40MDk3IDI1LjM5MjUgMjMuMDExMSAyNC40MTA1IDE5LjU0MTcgMjQuNDEwN1pNNjQuNDU4MyAyNC40MTA3QzYzLjU0NzcgMjQuNDEwNyA2Mi42NzM5IDI0LjU0OTUgNjEuODA0MiAyNC42NzYxQzYyLjA4NTkgMjMuNzI4OCA2Mi4zNzU4IDIyLjc2NTEgNjIuODQxMyAyMS44OTk1QzYzLjMwNjggMjAuNjQxOCA2NC4wMzM2IDE5LjU1MTUgNjQuNzU2NCAxOC40NTMxQzY1LjM2MDcgMTcuMjY0OSA2Ni40MjY1IDE2LjQ2MDUgNjcuMjEwNSAxNS40NDM3QzY4LjAzMTIgMTQuNDU1NSA2OS4xNTAxIDEzLjc5ODEgNzAuMDM2MSAxMi45Nzc0QzcwLjkwNTkgMTIuMTE5OSA3Mi4wNDUyIDExLjY5MTEgNzIuOTUxNyAxMS4wODY4QzczLjg5OSAxMC41NDM3IDc0LjcyMzggOS45NDM0NSA3NS42MDU4IDkuNjU3NjJMNzcuODA2NyA4Ljc1MTEyTDc5Ljc0MjIgNy45NDY3TDc3Ljc2MTggMC4wMzMyMDMxTDc1LjMyNDEgMC42MjEyMDFDNzQuNTQ0MiAwLjgxNzIwMSA3My41OTI3IDEuMDQ1ODcgNzIuNTEwNyAxLjMxOTQ1QzcxLjQwNDEgMS41MjM2MiA3MC4yMjQgMi4wODMwNCA2OC45MDkxIDIuNTkzNDVDNjcuNjE0NyAzLjE3NzM3IDY2LjEwOCAzLjU2NTI5IDY0LjcxMTUgNC41MDAzN0M2My4zMDY4IDUuMzkwNTQgNjEuNjg1NyA2LjEzMzcgNjAuMjU2NiA3LjMyNjA0QzU4Ljg3MjMgOC41NTUxMiA1Ny4yMDIyIDkuNjIwODcgNTUuOTY5MSAxMS4xODA3QzU0LjYyMTYgMTIuNjQyNSA1My4yOTA0IDE0LjE3NzkgNTIuMjU3MyAxNS45MjU1QzUxLjA2MDkgMTcuNTkxNSA1MC4yNDgzIDE5LjQyMDkgNDkuMzkwOCAyMS4yMjk4QzQ4LjYxNSAyMy4wMzg3IDQ3Ljk5MDIgMjQuODg4NSA0Ny40Nzk4IDI2LjY4NTFDNDYuNTEyMSAzMC4yODY2IDQ2LjA3OTIgMzMuNzA4NSA0NS45MTE4IDM2LjYzNjJDNDUuNzczIDM5LjU2OCA0NS44NTQ2IDQyLjAwNTggNDYuMDI2MSA0My43Njk4QzQ2LjA4NzQgNDQuNjAyOCA0Ni4yMDE3IDQ1LjQxMTMgNDYuMjgzNCA0NS45NzA3TDQ2LjM4NTUgNDYuNjU2N0w0Ni40OTE3IDQ2LjYzMjJDNDcuMjE3OSA1MC4wMjQ4IDQ4Ljg4OTggNTMuMTQyNCA1MS4zMTM5IDU1LjYyNDRDNTMuNzM4IDU4LjEwNjUgNTYuODE1MyA1OS44NTE2IDYwLjE4OTggNjAuNjU3N0M2My41NjQyIDYxLjQ2MzkgNjcuMDk4IDYxLjI5ODMgNzAuMzgyMiA2MC4xOEM3My42NjY1IDU5LjA2MTcgNzYuNTY3IDU3LjAzNjUgNzguNzQ4NCA1NC4zMzg2QzgwLjkyOTcgNTEuNjQwNyA4Mi4zMDI3IDQ4LjM4MDQgODIuNzA4NCA0NC45MzQ3QzgzLjExNDIgNDEuNDg5MSA4Mi41MzYyIDM3Ljk5OSA4MS4wNDEzIDM0Ljg2ODJDNzkuNTQ2NCAzMS43Mzc0IDc3LjE5NTYgMjkuMDkzNyA3NC4yNjEgMjcuMjQzMUM3MS4zMjYzIDI1LjM5MjUgNjcuOTI3NyAyNC40MTA1IDY0LjQ1ODMgMjQuNDEwN1oiIGZpbGw9IiM5NEQ0RTkiIGZpbGwtb3BhY2l0eT0iMC40Ii8+Cjwvc3ZnPgo=);
			background-size: 100%;
			width: 83px;
			height: 62px;
		}
	}

	&__card {
		align-items: center;
		box-shadow: none;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	&__image {
		border-radius: 50%;
		height: rem(70);
		object-fit: cover;
		margin-bottom: rem(32);
		width: rem(70);
	}

	.swiper-slide {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}
