name: Kinsta Master Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm install
      - run: npm run production

      - name: Sync
        env:
          src: './wp-content/themes/searchx/'
          dest: 'sea0005@194.164.204.130:~/httpdocs/newsite/wp-content/themes/searchx'
        run: |
          echo "${{secrets.SSH_DEPLOY_KEY}}" > deploy_key
          chmod 600 ./deploy_key
          rsync -chav --omit-dir-times \
            -e 'ssh -i ./deploy_key -o StrictHostKeyChecking=no' \
            --exclude /deploy_key \
            --exclude /.git/ \
            --exclude /.github/ \
            --exclude /node_modules/ \
            --exclude /wp-content/uploads/ \
            ${{env.src}} ${{env.dest}}
